<template>
  <div
    class="image"
    :class="{'dark': darkMode}">
    <div
      v-if="view.loading"
      class="image__loading-thumbnail"
      @click="onImageClick"></div>

    <img 
      v-show="!view.loading"
      :src="data.imagePath"
      @click="onImageClick">
    
    <div class="image__info">
      <span class="image__id">#{{ data.id }}</span>
      <span class="image__author">&nbsp;{{ data.author }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Imagee',
  props: {
    data: {
      type: Object,
      default() {
        return {};
      },
    },
    darkMode: Boolean,
  },
  data() {
    return {
      view: {
        loading: true,
      },
    };
  },
  mounted() {
    let img = this.$el.querySelector('img');
    img.onload = () => {
      this.view.loading = false;
    };
  },
  methods: {
    onImageClick() {
      this.$emit('select');
    }
  },
}
</script>

<style lang="scss" scoped>
.image {
  max-width: 320px;
  max-height: calc(320px + 32px);
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

  .image__loading-thumbnail {
    width: 320px;
    height: 320px;
    background-color: #DDD;
  }

  img {
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  .image__info {
    width: 100%;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 200ms;

    .image__id {
      color: #444;
      transition: color 200ms;
    }
  }

  &.dark {

    .image__loading-thumbnail {
      background-color: #454545;
    }

    .image__info {

      .image__id {
        color: #999;
      }
    }
  }
}
</style>
