<template>
  <div
    v-show="view.state == 'open'"
    class="modal">
    <div
      v-if="view.loading"
      class="loader"></div>
    
    <img
      :src="item.download_url"
      draggable="false">
    
    <div
      class="controls__btn-close"
      @click="close">
      &times;
    </div>
    
    <a
      class="controls__link"
      :href="item.url"
      target="_blank">
      Open URL
    </a>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      view: {
        state: 'closed',
        loading: true,
      }
    };
  },
  watch: {
    item(newVal) {
      if (newVal.id) {
        this.view.state = 'open';
        window.history.pushState('forward', null, '#modal');
        this.view.loading = true;
      }
    },
  },
  mounted() {
    let img = this.$el.querySelector('img');
    img.onload = () => {
      this.view.loading = false;
    };
    img.onerror = () => {
      alert('Please check your internet connection');
      this.close();
    };

    window.addEventListener('keydown', e => {
      // close with Escape key
      if (e.keyCode == 27) {
        this.close();
      }

      // navigate with Left/Right arrow keys
      if (this.view.state == 'open' && [13, 37, 39].includes(e.keyCode)) {
        e.stopPropagation(); // prevent changing page
        if (e.keyCode == 37) {
          this.$emit('previous');
        } else if (e.keyCode == 39 || e.keyCode == 13) {
          this.$emit('next');
        }
      }
    }, true); // true in order to run before Menu's keydown event

    // close with back-page button
    window.addEventListener('popstate', () => {
      this.close();
    });

    // close by clicking outside of any modal element
    this.$el.addEventListener('click', e => {
      if (e.target === this.$el) {
        this.close();
      }
    });

    // mobile devices swipe navigation
    let drag = false;
    let startDragX = -1;
    
    function onStart(e) {
      drag = true;
      startDragX = (e.changedTouches ? e.changedTouches[0] : e).clientX;
    }

    function onEnd() {
      drag = false;
    }

    function onMove(e) {
      if (drag && this.view.state == 'open') {
        let x = (e.changedTouches ? e.changedTouches[0] : e).clientX;
        if (x - startDragX > 100) { // swiped 100 pixels on right, go to previous image
          this.$emit('previous');
          drag = false;
        } else if (x - startDragX < -100) { // swiped 100 pixels on left, go to next image
          this.$emit('next');
          drag = false;
        }
      }
    }

    window.addEventListener('touchend', onEnd);
    window.addEventListener('touchstart', onStart);
    window.addEventListener('touchmove', onMove.bind(this));
  },
  methods: {
    close() {
      this.view.state = 'closed';
      this.$emit('close');
      window.history.replaceState({}, null, '/');
    }
  },
}
</script>

<style lang="scss" scoped>
.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  img {
    max-height: 100%;
    width: auto;
    z-index: 1;
  }

  .controls__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 2;
  }

  .controls__link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    border: 1px solid #FFF;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 200ms;
    z-index: 2;

    &:hover {
      background: #FFF;
      color: #000;
    }
  }

  .loader {
    position: absolute;
    top: 1%;
    left: calc(50% - 12.5px);
    display: inline-block;
    width: 64px;
    height: 64px;

    &:after {
      content: " ";
      display: block;
      width: 25px;
      height: 25px;
      margin: 1px;
      border-radius: 50%;
      border: 3px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: loader-animation 1.2s linear infinite;
    }
  }
  
  @keyframes loader-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
