<template>
  <div
    class="ui-mode-button"
    :class="{'dark': darkMode}"
    @click="changeMode">
    {{ (darkMode ? 'Light Mode' : 'Dark Mode') }}
  </div>
</template>

<script>
export default {
  name: 'ModeButton',
  props: {
    darkMode: Boolean,
  },
  methods: {
    changeMode() {
      this.$emit('change', this.darkMode ? 'light' : 'dark');
    },
  },
}
</script>

<style lang="scss" scoped>
.ui-mode-button {
  width: 90px;
  font-size: 11px;
  border: 1px solid #333;
  border-radius: 24px;
  color: #333;
  margin: 3px;
  padding: 7px 0;
  text-align: center;
  user-select: none;
  cursor: pointer;

  &.dark {
    color: #EEE;
    border-color: #EEE;
  }
}
</style>
