<template>
  <div 
    class="search-bar" 
    :class="{'dark': darkMode}">
    <input
      v-model="value"
      type="text"
      :class="{'connect-bottom': suggestions.length > 0}">

    <div
      v-show="suggestions.length > 0"
      class="search__suggestion-container">
      <div
        v-for="(word, index) in suggestions"
        :key="index"
        :class="{'focus': suggestionFocus == index}"
        @click="selectSuggestion(word)"
        @mouseover="suggestionFocus = index">
        {{ word }}
      </div>
    </div>

    <div
      v-show="!value && !hasFocus"
      class="search__placeholder"
      @click="focus">
      Search
    </div>

    <div
      v-show="value"
      class="search__btn-clear"
      @click="clear">
      &times;
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  props: {
    darkMode: Boolean,
    suggestionData: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      value: '',
      hasFocus: false,
      suggestions: [],
      suggestionFocus: -1,
    };
  },
  mounted() {
    let input = this.$el.querySelector('input');
    let btnClear = this.$el.querySelector('.search__btn-clear');
    
    // search input listener
    let debounceTimeout = window.searchTimeout;
    input.addEventListener('input', e => {
      if (e.target.value.trim().length === 0) { // emit input immediately if value is empty
        this.$emit('change', e.target.value);
      } else {
        clearTimeout(debounceTimeout);
        window.searchTimeout = setTimeout(() => {
          this.$emit('change', e.target.value);
        }, 500);
      }
      this.value = e.target.value // FIXME: required for mobile devices (otherwise it updates when mobile keyboard closes)

      // search suggestions
      if (this.value.trim().length > 2) {
        // filter data
        this.suggestions = this.suggestionData.filter(i => i.toLowerCase().includes(this.value.toLowerCase()));
        // remove duplicates
        this.suggestions = this.suggestions.filter((v, i) => this.suggestions.indexOf(v) === i);
        this.suggestions.sort((a, b) => {
          if (a > b) {
            return 1;
          } else {
            return -1;
          }
        });
        this.suggestionFocus = 0;
      } else {
        this.suggestions = [];
        this.suggestionFocus = -1;
      }
    });

    input.addEventListener('focus', () => {
      this.hasFocus = true;
    });

    input.addEventListener('blur', () => {
      this.hasFocus = false;
    });

    function positionClearButton() {
      btnClear.style.left = input.offsetLeft + input.offsetWidth - 30 + 'px';
    }
    positionClearButton();
    window.addEventListener('resize', positionClearButton);

    // suggestions navigation
    window.addEventListener('keydown', e => {
      if (e.keyCode == 38) { // up Arrow key
        let focus = this.suggestionFocus - 1;
        if (focus < 0) {
          focus = this.suggestions.length - 1;
        }
        this.suggestionFocus = focus;
      } else if (e.keyCode == 40) { // down Arrow key
        let focus = this.suggestionFocus + 1;
        if (focus == this.suggestions.length) {
          focus = 0;
        }
        this.suggestionFocus = focus;
      } else if (e.keyCode == 13) { // Enter key
        this.selectSuggestion(this.suggestions[this.suggestionFocus]);
      } else if (e.keyCode == 27) { // Escape key
        this.suggestions = [];
        this.suggestionFocus = -1;
      }
    });

    window.addEventListener('click', () => {
      this.suggestions = [];
      this.suggestionFocus = -1;
    });
  },
  methods: {
    focus() {
      this.$el.querySelector('input').focus();
    },
    clear() {
      let clearValue = '';
      this.value = clearValue;
      this.$emit('change', clearValue);
      this.$el.querySelector('input').focus();
    },
    selectSuggestion(value) {
      this.value = value;
      this.suggestions = [];
      this.suggestionFocus = -1;
      this.$emit('change', this.value);
    },
  },
}
</script>

<style lang="scss" scoped>
.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0;

  input {
    outline: none;
    border: 0;
    width: 320px;
    height: calc(40px - 20px - 2px);
    max-width: calc(91% - 30px);
    font-size: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: #FFF;
    transition: background-color 200ms;
    padding: 10px 15px;

    &.connect-bottom {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .search__placeholder {
    position: absolute;
    top: 10px;
    left: 35px;
    color: #333;
  }

  .search__suggestion-container {
    position: absolute;
    top: 40px;
    width: 320px;
    max-width: 91%;
    border: 1px solid #dfe1e5;
    border-top: 0;
    background: #FFF;
    user-select: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    & > div {
      padding: 8px 15px;
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &:hover, &.focus {
        background-color: #3b5998;
        color: #EEE;
      }

      &:last-of-type {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }
  }

  .search__btn-clear {
    position: absolute;
    top: 3px;
    font-size: 25px;
    color: #999;
    cursor: pointer;
  }

  &.dark {
    input {
      background-color: #EEE;
    }

    .search__suggestion-container {
      background-color: #EEE;
      color: #333;
    }

    .search__btn-clear {
      color: #777;
    }
  }
}
</style>
