<template>
  <div
    class="app"
    :class="{'dark': view.darkMode}">
    <SearchBar
      :dark-mode="view.darkMode"
      :suggestion-data="stored.map(i => i.author)"
      @change="search" />
    <ModeButton
      v-show="data.length > 0"
      :dark-mode="view.darkMode"
      @change="setMode" />
    <ImagesList
      :loading="view.loading"
      :data="data"
      :dark-mode="view.darkMode"
      @select="openItem" />
    <Menu
      v-show="!view.searchActive"
      :dark-mode="view.darkMode"
      :page="page"
      :pages-count="pagesCount"
      :items-per-page="itemsPerPage"
      @pageChange="changePage"
      @itemsPerPageChange="changeItemsPerPage" />
    <Modal
      :item="view.selectedItem"
      @previous="openPreviousItem"
      @next="openNextItem"
      @close="closeItem" />
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import ImagesList from './components/ImagesList.vue';
import Menu from './components/Menu.vue';
import Modal from './components/Modal.vue';
import SearchBar from './components/SearchBar.vue';
import ModeButton from './components/ModeButton.vue';

export default {
  name: 'App',
  components: {
    ImagesList,
    Menu,
    Modal,
    SearchBar,
    ModeButton,
  },
  data() {
    return {
      data: Array.from({ length: 12 }, (e, i) => { return { id: i, }}), // array of empty objects
      itemsPerPage: 12,
      itemsCount: (9 * 100) + 93, // 9 pages with 100 entries and the last page with 93 entries
      page: 1,
      view: {
        loading: false,
        cancelSource: null,
        selectedItem: {}, // null
        modalState: 'closed',
        searchActive: false,
        darkMode: false,
      },
      stored: [],
    };
  },
  computed: {
    pagesCount() {
      return Math.ceil(this.itemsCount / this.itemsPerPage);
    } 
  },
  created() {
    if (localStorage.darkMode) {
      this.view.darkMode = localStorage.darkMode == '1' ? true : false;
    }
    this.getData();
  },
  methods: {
    getData() {
      let getDataResolve;
      let getDataPromise = new Promise(resolve => getDataResolve = resolve);
      // cancel previous request
      if (this.view.loading && this.cancelSource) {
        this.cancelSource.cancel();
      }
      this.view.loading = true;
      this.cancelSource = axios.CancelToken.source();
      this.data = Array.from({ length: this.itemsPerPage }, (e, i) => { return { id: i, }});
      axios.get(`https://picsum.photos/v2/list?page=${this.page}&limit=${this.itemsPerPage}`, {
        cancelToken: this.cancelSource.token,
      }).then(response => {
        this.data = response.data;
        this.data.forEach(entry => {
          entry.imageBasePath = entry.download_url.match('https://picsum.photos/id/[0-9]*');
          entry.imagePath = `${entry.imageBasePath}/320/320`;
          
          // store each item for searching
          if (this.stored.findIndex(i => i.id == entry.id) == -1) {
            this.stored.push(entry);
            window.stored = this.stored;
          }
        });
        this.view.loading = false;
        getDataResolve();
      }).catch(err => {
        if (err.constructor == axios.Cancel) {
          // canceled because of new request
        } else {
          alert('Please check your internet connection');
        }
      });
      return getDataPromise;
    },
    changePage(value) {
      return new Promise(resolve => {
        this.page = value;
        this.getData().then(resolve);
      });
    },
    changeItemsPerPage(value) {
      this.itemsPerPage = value;
      this.page = 1;
      this.getData();
    },
    openItem(id) {
      this.view.selectedItem = this.data.find(e => e.id == id);
    },
    closeItem() {
      this.view.selectedItem = {}; // null
    },
    openPreviousItem() {
      let currentItemIndex = this.data.findIndex(i => i.id == this.view.selectedItem.id);
      currentItemIndex--;
      if (currentItemIndex > -1) {
        // force update, otherwise image doesn't change for some reason
        this.view.selectedItem = {};
        Vue.nextTick(() => {
          this.view.selectedItem = this.data[currentItemIndex];
        });
      } else {
        currentItemIndex = 0;
        if (!this.view.searchActive && this.page > 1) {
          // force update, otherwise image doesn't change for some reason
          this.view.selectedItem = {};
          Vue.nextTick(() => {
            this.changePage(this.page - 1).then(() => {
              this.view.selectedItem = this.data[this.data.length - 1];
            });
          });
        }
      }
    },
    openNextItem() {
      let currentItemIndex = this.data.findIndex(i => i.id == this.view.selectedItem.id);
      currentItemIndex++;
      if (currentItemIndex < this.data.length) {
        // force update, otherwise image doesn't change for some reason
        this.view.selectedItem = {};
        Vue.nextTick(() => {
          this.view.selectedItem = this.data[currentItemIndex];
        });
      } else {
        currentItemIndex = this.data.length - 1;
        if (!this.view.searchActive && this.page < this.pagesCount) {
          // force update, otherwise image doesn't change for some reason
          this.view.selectedItem = {};
          this.changePage(this.page + 1).then(() => {
            this.view.selectedItem = this.data[0];
          });
        }
      }
    },
    search(query) {
      if (query) {
        this.view.searchActive = true;
        // keep current image list before searching
        if (!window.lastRequestData) {
          window.lastRequestData = this.data.slice(0);
        }
        let results = this.stored.filter(i => i.author.toLowerCase().includes(query.toLowerCase()) || i.id == query);
        this.data = results;
      } else {
        this.view.searchActive = false;
        // return image list before search
        if (window.lastRequestData) {
          this.data = window.lastRequestData;
          delete window.lastRequestData;
        }
      }
    },
    setMode(mode) {
      this.view.darkMode = mode == 'dark';
      localStorage.darkMode = this.view.darkMode ? '1' : '0';
    },
  },
}
</script>

<style lang="scss">
$base-font: 'Avenir', Helvetica, Arial, sans-serif;

body {
  margin: 0;
  font-family: $base-font;

  .app {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 10px;
    background: #EEE;
    transition: background 200ms;
    color: #111;

    &.dark {
      background: #111;
      color: #EEE;
    }

    button {
      font-family: $base-font;
    }
  }
}
</style>
